<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new post</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <form method="post" action="/viewposts">
      <input placeholder="entter username" name="username" /><br />
      <textarea placeholder="write about your post" name="content"></textarea
      ><br /><br>
      <input placeholder="enter image adress here" name="imgurl"></input>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>
