<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
  </head>
  <body>
    <h1>Details of Your Post</h1>
    <div class="post_div">
      <h2 class="id">ID of the post is: <%= post.id %></h2>
      <h3 class="username">Username: @ <%= post.username %></h3>
      <h4 class="content">Description: <%= post.content %></h4>
      <img src="<%= post.imgurl %>" alt="Image address not found" />
      <hr />
    </div>
  </body>
</html>
