<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post deatails</title>
  </head>
  <body>
    <h1>Details of your post</h1>
    <div class="post_div">
      <h3 class="username">Username:@ <%=post.username%></h3>
      <h4 class="content">Description:<%=post.content%></h4>
      <img src="<%=post.imgurl %>" alt="img adress not found" />
      <hr />
    </div>
  </body>
</html>
